<!-- Static assets -->
{% load static %}

    <!--   Core JS Files   -->
    <script src="{% static 'dashC/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'dashC/js/core/popper.min.js' %}"></script>
    <script src="{% static 'dashC/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashC/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <!--    API OpenStreetMap -->

    <!-- Chart JS -->
    <script src="{% static 'dashC/js/plugins/chartjs.min.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static 'dashC/js/plugins/bootstrap-notify.js' %}"></script>


